<div class="container">

    <div ng-include="'components/navbar/navbar.html'"></div>


    <div class="container">

        <div class="col-sm-6 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong> Sign in to continue</strong>
                </div>
                <div class="panel-body">
                    <form>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    <div class="form-group">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-database"></i>
												</span>
                                            <input class="form-control" placeholder="CouchDB Instance URL" name="url" type="text" autofocus ng-model="url">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-user"></i>
												</span>
                                            <input class="form-control" placeholder="Username" name="loginname" type="text" autofocus ng-model="username">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-lock"></i>
												</span>
                                            <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="btn btn-lg btn-primary btn-block" value="Sign in" ng-click="vm.setup(url, username, password)">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>

</div>
