<div ng-controller="NavBarCtrl">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
                    ng-click="menuCollapsed = ! menuCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <small>
                    <a href="http://github.com/arnoutaertgeerts/designdoc-editor">
                        Designdoc-Editor
                    </a>
                </small>
            </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
            <ul class="nav navbar-nav">
                <li access-level="user" ui-sref-active-eq="active">
                    <a href ui-sref="editor">
                        <i class="fa fa-info-circle"></i>
                        Editor
                    </a>
                </li>


                <li access-level="user" ui-sref-active-eq="active">
                    <a href ng-click="logout()">
                        Log out
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>